.box-project-report {
  margin: 5rem auto;
  box-sizing: border-box;
  width: 50%;
  .title-label {
    display: block;
    font-weight: 700;
    font-size: 17px;
    padding-left: 2px;
    margin-bottom: 0.5%;
  }
}

.report-project-select-box, .report-text-field-box, .report-date-field-box, .report-text-area-box, .report-radio-button-box, .report-check-box, .report-select-box {
  margin-bottom: 0.5rem;
  .radio-label, .check-label {
    display: table;
    margin-left: 1rem;
    margin-bottom: 0rem;
    cursor: pointer;
  }
}

.project-select, .report-date, .report-select {
  margin-left: 1rem;
  border-style: none;
  box-sizing: border-box;
  width: 50%;
  height: 40px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: #fff5ee;

}

.report-text {
  margin-left: 1rem;
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: #fff5ee;
}

.report-area {
  margin-left: 1rem;
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: #fff5ee;
}

.report-btn {
  text-align: right;
}

//border: thin solid;
