.box-project-report {
  margin: 2.5rem auto 5rem;
  box-sizing: border-box;
  width: 50%;
  .title-label {
    display: block;
    font-weight: 700;
    font-size: 17px;
    padding-left: 2px;
    margin-bottom: 0.5%;
  }
}

.reprt-project-select-box,
.report-date,
.report-select {
  margin-left: 1rem;
  border-style: none;
  box-sizing: border-box;
  width: 50%;
  height: 40px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: #fff5ee;
}

.report-text,
.message-text,
.counseling-text {
  margin-left: 1rem;
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: #fff5ee;
}

.report-area,
.message-area,
.counseling-area {
  margin-left: 1rem;
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: #fff5ee;
}

.box-report {
  padding-bottom: 2rem;
  background-color: #d8d8d8;
  border-radius: 10px;
}

.box-comment {
  margin: 3rem auto 0;
  width: 50%;
}

.edit-report-header {
  display: flex;
  font-weight: 700;
  padding: 2rem 2rem 1rem 2rem;
}

.edit-report-title {
  display: inline-block;
  margin-bottom: 0rem;
  padding: 0.4rem 0.75rem;
  background-color: #fc8022;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.report-form {
  margin: 0 2rem 1rem 2rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 1rem;
}

.report-form span {
  display: inline-block;
  padding: 0.4rem 0.75rem;
  background-color: #fc8022;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.report-form-color {
  background-color: #fff5ee;
}

.report-form .report-required {
  background-color: red;
  padding: 5px;
  font-size: 0.8rem;
  margin-left: 10px;
  border-radius: 5px;
  color: #fff;
}

  
//border: thin solid;
