<span>▼あなた宛の相談一覧▼</span>
    <table>
      <thead>
        <th>概要</th>
        <th>連絡者</th>
      </thead>

      <tbody>
        <% @counselings.each do |counseling| %>
          <tr>
            <td>
              <%= link_to counseling.title, project_counseling_path(@project,counseling) %>
            </td>
            <td>
              <%= @member.find(counseling.sender_id).user_name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>