<h2><%= @user.user_name %> 様</h2>
  <p>この度は、お問い合わせありがとうございました。<br>
  以下でご質問の回答となっておりますでしょうか。</p>

  <p><%= @answer %></p>
  <%= link_to '参　加', join_user_project_url(@user) %>
<!--<a href="http://localhost:3000/join_user_project_url">こちらからプロジェクトに加入する</a>-->
  <p>今後とも XXX をよろしくお願いいたします。</p>
