<h2><%= @user.user_name %> 様</h2>
  <p>この度は、お問い合わせありがとうございました。<br>
  以下でご質問の回答となっておりますでしょうか。</p>

  <p><%= @answer %></p>
<a href="http://localhost:3000/users/1/projects/1/">こちらからプロジェクトに加入する</a>
  <p>今後とも XXX をよろしくお願いいたします。</p>
