<h2><%= "#{@inviter}があなたを#{@project_name}に招待しています。" %></h2>
  <p>下記のリンクをクリックし、プロジェクトへ参加しましょう！</p>
  <p>このメールを受信しているアドレスでログインできます。</P>
  <p>初期パスワード: <%= @password %></p>

  <%= link_to "プロジェクトへ参加", join_url(token: @token) %>

  <p><%#= @answer %></p>
  <%#= link_to '参　加', join_user_project_url(project: @project) %>

  <%#= form_with(model: @project, url: join_user_project_url(@project), local: true, method: :post, id: "project-form") do |f| %>
      <%#= f.hidden_field :project_leader_id, :value => current_user.id %>
          <%#= f.submit "参加", class: "btn btn-primary btn-new" %>
    <%# end %>

<!--<a href="http://localhost:3000/join_user_project_url">こちらからプロジェクトに加入する</a>
  <p>今後とも XXX をよろしくお願いいたします。</p>
