<h2><%= "#{@inviter}があなたを#{@project_name}に招待しています。" %></h2>
  <p>下記のリンクをクリックし、プロジェクトへ参加しましょう！</p>
<% if @user.user_name == "" %>
  <p>このメールを受信しているアドレスでログインできます。</P>
  <p>初期パスワード: <%= @password %></p>
<% end %>
  <%= link_to "プロジェクトへ参加", join_url(token: @token) %>

  <p><%#= @answer %></p>
  <%#= link_to '参　加', join_user_project_url(project: @project) %>
  