<h3>プロジェクト名：<%= @project_name %></h3>
<h2>未報告者のお知らせ</h2>
<%= Date.today.strftime("%Y年 %m月 %d日") %>期限の報告未完了メンバーは以下の通りです。
<ul>
  <% @users.each do |user| %>
    <li><%= "#{user} さん" %></li>
  <% end %>
</ul>
<br>
<p>※このメールはシステムより自動配信されています。入れ違いでご報告済みの方が含まれていた際は何卒ご容赦ください。</p>
