<div class="container col-2">
<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">メニューリスト</h2>
    <ul class="channel_list">
      <%= sidebar_link_item('プロジェクト一覧', user_projects_path(current_user.id)) %>
    </ul>
  </div>
</div>
</div>
