<div class="container col-2">
  <div class="listings shadow">
    <div class="listings_channels">
      <!-- h2 class="listings_header">メニューリスト</div -->
      <ul class="channel_list">
        <%= sidebar_link_item('プロジェクト登録', new_user_project_path(@user), {remote: true, class: 'channel_name', data: {"turbolinks" => false}}) %>
        <%= sidebar_link_item('プロジェクト一覧', user_projects_path(current_user.id)) %>
      </ul>
    </div>
  </div>
</div>
