// Place all the styles related to the formats::format controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-report-formats-header, .edit-report-formats-footer {
  margin: 1% auto;
  padding: 1%;
  width: 50%;
}

.edit-report-formats-header {
  display: flex;
}

.project-name {
  margin-top: 1%;
}

.form-addition {
  margin-top: 1%;
  text-align: right;
  margin-left: auto;
}

.form {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  margin: 1% auto;
  padding: 1%;
  width: 50%;
}

.label-select-form {
  display: flex;
  margin-bottom: 2%;
}

.label-box {
  margin-right: 1%;
  width: 50%;
}

.field-type-box {
  margin-left: 1%;
  width: 50%;
}

.form-view-text-field {
  border-bottom: thin dotted;
  margin-top: 1em;
  width: 50%;
}

.form-view-text-area {
  border-bottom: thin dotted;
  margin-top: 1em;
}

.label-box {
  margin-right: 1%;
  width: 50%;
}

.option-box-radio_button {
  display: flex;
  width: 50%;
  margin-bottom: 2%;
}

.option_symbol, .new-remove-field {
  line-height: 250%;
  width: 11%;
}

.new-remove-field {
  margin-left: 2%;
}

.new-remove-field:hover {
  text-decoration: none;
}

.form-view {
  border-bottom: thin dotted;
  margin-top: 1em;
}

.form-button {
  display: flex;
}

.option-addition{
  margin-top: 1%;
}

.form-delete-button {
  margin-top: 1%;
  text-align: right;
  margin-left: auto;
}

// border: thin solid;
