// Place all the styles related to the formats::format controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-reprot-format {
  margin: 2.5rem auto 5rem;
  width: 50%;
}
// 報告フォーマット編集フォーム全体の表示位置
.box-reprot-format-edit,
.box-message-format-new,
.box-counseling-format-new {
  background-color: #ffe9d8;
  border-radius: 10px;
}
//ヘッダー部分のレイアウト
.edit-report-format-header,
.new-message-format-header,
.new-counseling-format-header {
  display: flex;
  font-weight: 700;
  padding: 2rem 2rem 1rem 2rem;
}

// ヘッダー内のプロジェクト名のレイアウト
.project-name-box,
.message-title-box,
.counseling-title-box {
  margin-top: 0.5rem;
  height: 70%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #fc8022;
  color: #ffffff;
}

.edit-report-formats-footer {
  display: flex;
  margin: 0rem auto;
  input[type=submit] {
    text-align: right;
    margin-left: 86.5%;
  }
}

.form-add {
  margin-top: 1%;
  text-align: right;
  margin-left: auto;
}

.form {
  // font-weight: 700;
  border: 2px solid #a6a6a6;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 1% auto;
  padding: 1%;
  margin: 0 2rem 1rem 2rem;

  input, select {
    border: 2px solid #a6a6a6;
  }
}

.dorack-area-center {
  width: 28px;
  box-sizing: border-box;
  background-color: #fff;
  background-image: radial-gradient(#888 10%, transparent 10%);
  background-position: 0 0, 7px 0px;
  background-size: 14px 14px;
  margin: 10px auto;
  height: 40px;
}

.dorack-area-after {
  width: 47.5%;
}

.report-format-check-box {
text-align: right;
}

.report-format-check-box-label {
margin-bottom: 0;
}

.label-select-box {
  display: flex;
  margin-bottom: 2%;
}

.label-box {
  margin-right: 1%;
  width: 50%;
}

.label-box input[type="text"],
.option-box input[type="text"],
.format-title-box {
  border-style: none;
  box-sizing: border-box;
  height: 50px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: #fff5ee;
}

.select-box select {
  border-style: none;
  box-sizing: border-box;
  height: 50px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.select-box {
  width: 50%;
}

.text-field-box, .date-field-box {
  border-bottom: 2px dotted;
  margin-top: 1em;
  width: 50%;
}

.text-area-box {
  border-bottom: 2px dotted;
  margin-top: 1em;
}

.option-box {
  display: flex;
  width: 50%;
  margin-bottom: 2%;
}

.option-symbol, .remove-field {
  line-height: 250%;
  width: 11%;
}

.remove-field {
  margin-left: 2%;
  padding: 5px;
}

.remove-field:hover {
  text-decoration: none;
}

.text-common-box {
  border-bottom: 2px dotted;
  margin-top: 1em;
}

.form-button {
  display: flex;
}

.option-add-btn-box{
  margin-top: 1%;
}

.form-delete-button {
  margin-top: 1%;
  text-align: right;
  margin-left: auto;
}

.delete-btn-new {
  display: none;
}

.sidebar-content {
  color: red;
  font-size: 20px;
}

p .annotation {
  font-size: small;
}

.format-form-style {
  border-style: none;
  box-sizing: border-box;
  height: 50px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: #fff5ee;
}
.is-hidden{
  display: none;
}
.fit-contents{
  width:fit-content;
}
#tooltipOn .btn:disabled {
  pointer-events: none;
}
// border: thin solid;
