// Place all the styles related to the formats::format controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//報告フォーマット編集画面関連
.edit-report-formats-header, .edit-report-formats-footer {
  margin: 1% auto;
  padding: 1%;
  width: 50%;
}

.edit-report-formats-header {
  display: flex;
}

.project-name-box {
  margin-top: 1%;
}

.form-add {
  margin-top: 1%;
  text-align: right;
  margin-left: auto;
}

.form {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  margin: 1% auto;
  padding: 1%;
  width: 50%;
  cursor: pointer;
}

.label-select-box {
  display: flex;
  margin-bottom: 2%;
}

.label-box {
  margin-right: 1%;
  width: 50%;
}

.select-box {
  margin-left: 1%;
  width: 50%;
}

.text-field-box, .date-field-box {
  border-bottom: thin dotted;
  margin-top: 1em;
  width: 50%;
}

.text-area-box {
  border-bottom: thin dotted;
  margin-top: 1em;
}

.option-box {
  display: flex;
  width: 50%;
  margin-bottom: 2%;
}

.option-symbol, .remove-field {
  line-height: 250%;
  width: 11%;
}

.remove-field {
  margin-left: 2%;
}

.remove-field:hover {
  text-decoration: none;
}

.text-common-box {
  border-bottom: thin dotted;
  margin-top: 1em;
}

.form-button {
  display: flex;
}

.option-add-btn-box{
  margin-top: 1%;
}

.form-delete-button {
  margin-top: 1%;
  text-align: right;
  margin-left: auto;
}

.delete-btn-new {
  display: none;
}

// 報告フォーマット編集画面チェックボックスのスタイル
.check-box input[type=checkbox]{
	transform: scale(1.4);
}

// border: thin solid;
