<span>▼あなた宛の連絡一覧▼</span>
    <table>
      <thead>
        <th>概要</th>
        <th>連絡者</th>
      </thead>

      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td>
              <%= link_to message.title, user_project_message_path(current_user,@project,message) %>
            </td>
            <td>
              <%= @member.find(message.sender_id).user_name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p class="center" style="padding: 10px;"><%= link_to '戻る', user_project_path(@user,@project),class: "btn btn-light btn-outline-dark col-2" %></p>