<p>■件名■</p>
<%= @message.title %>
<p>■内容■</p>
<%= @message.message_detail %>
<br>
<div id="read_button">
  <%= render partial: 'read' %>
</div>  

<div id="checkers">
  <%= render partial: 'checker' %>
</div>  