<h3>プロジェクト名： <%= @project_name %></h3>

<h2><%= @sender_name %>さんからの相談内容が更新されました。</h2>
<p>下記のリンクより確認できます。</p>
<p><%= link_to @counseling_title, user_project_counseling_url(@user, @project, @counseling) %></p>