
<div class="report-form">
  <span><%= TextField.find_by(question_id: answer.question_id).label_name %></span>
  <% if( TextField.find_by(question_id: answer.question_id).label_name == "件名" ) %>
    <span class="report-required">必須</span>
  <% end %>
  <%= f.fields_for "answer[#{c}]", answer do |m| %>
  <div><%= m.text_field :value, class: "form-control" %></div>
  <% end %>
</div>