<div class="report-form">
  <% if question.present? && question.using_flag && question.radio_button.present? %>
    <!-- radio_buttonが存在し、かつ有効な場合の処理 -->
    <span class="report-item-title mb-2 font-weight-bold"><%= question.radio_button.label_name %></span>
    <% if question.required %><span class="pl-2 font-weight-bold text-danger">必須</span><% end %>
    <br>
    <%= f.fields_for :answers, answer do |m| %>
      <%= m.collection_radio_buttons(:value, question.radio_button.radio_button_option_strings, :option_string, :option_string, {}, { required: question.required }) do |r| %>
        <% r.label(class: "radio-label") { r.radio_button(class: "radio-button") + r.text } %>
      <% end %>
    <% end %>
  <% else %>
    <!-- questionまたはradio_buttonが存在しない場合や無効の場合は表示しない -->
  <% end %>
</div>
