<div class="container">
<%= TextField.find(pattern.question_id).label_name %>
  <%= f.fields_for "answer[#{c}]", mo do |m| %>
  <p style="padding-top: 5px;"><%= m.text_field :value %></p>
  <% end %>
</div>