
<div class="report-form">
  <span><%= RadioButton.find_by(question_id: answer.question_id).label_name %></span>
  <br>
  <% RadioButton.find_by(question_id: answer.question_id).radio_button_option_strings.each do |item| %>
    <%= f.fields_for "answer[#{c}]", answer do |m| %>
      <%= m.radio_button :value, item.option_string %>
      <%= item.option_string %>
      <br>
    <% end %>
  <% end %>
</div>