<div class="report-form">
  <% if question.present? && question.using_flag && question.check_box.present? %>
    <!-- check_boxが存在し、かつ有効な場合の処理 -->
    <span class="report-item-title mb-2 font-weight-bold"><%= question.check_box.label_name %></span>
    <% if question.required %><span class="pl-2 font-weight-bold text-danger">必須</span><% end %>
    <br>
    <%= f.fields_for :answers, answer do |m| %>
      <% question.check_box.check_box_option_strings.each do |box| %>
        <% boolExists = answer.array_value.try(:include?, box.option_string) || false %>
        <%= m.check_box :array_value, {multiple: true, include_hidden: false, checked: boolExists, class: 'check-box-option'}, box[:option_string] %>
        <%= box.option_string %>
      <% end %>
    <% end %>
  <% else %>
     <!-- questionまたはcheck_boxが存在しない場合や無効の場合は表示しない -->
  <% end %>
</div>

<script>
  (() => {
    // チェックボックスのinputタグを取得
    const checkBoxElements = Array.from(document.getElementsByClassName("check-box-option"));
    const errorMessage = "1つ以上の選択肢を選択してください。";

    checkBoxElements.forEach(m => {
      // エラーメッセージを、カスタムなものに変更
      m.setCustomValidity(errorMessage);

      // 各チェックボックスのチェックのオン・オフ時に、以下の処理が実行されるようにする
      m.addEventListener("change", () => {
        // 1つ以上チェックがされているかどうかを判定
        const isCheckedAtLeastOne = document.querySelector(".check-box-option:checked") !== null;

        // 1つもチェックがされていなかったら、すべてのチェックボックスを required にする
        // 加えて、エラーメッセージも変更する
        checkBoxElements.forEach(n => {
          n.required = !isCheckedAtLeastOne;
          n.setCustomValidity(isCheckedAtLeastOne ? "" : errorMessage);
        });
      });
    });
  })();
</script>
