
<div class="report-form">
  <span class="report-item-title mb-2 font-weight-bold"><%= Select.find_by(question_id: answer.question_id).label_name %></span>
  <% if Question.find_by(id: answer.question_id).required %><span class="pl-2 font-weight-bold text-danger">必須</span><% end %>
  <br>
  <%= f.fields_for "answer[#{c}]", answer do |m| %>
    <%= m.collection_select(:value, Select.find_by(question_id: answer.question_id).select_option_strings.all, :option_string, :option_string, { prompt: false } ,{class: "form-control", required: Question.find_by(id: answer.question_id).required }) %>
  <% end %>
</div>