<div>
  <span><%= TextField.find_by(question_id: answer.question_id).label_name %></span>
  <%= f.fields_for "answer[#{c}]", answer do |m| %>
  <div><%= m.text_field :value, class: "form-control" %></div>
  <% end %>
</div>