
<div class="col-sm-6 report-form pl-0">
<% c -= 1 %>
<% defalutDate = @answers[c][:value] %>
<span><%= DateField.find_by(question_id: answer.question_id).label_name %></span>
  <%= f.fields_for "answer[#{c+1}]", answer do |m| %>
  <div><%= m.date_field :value, value: defalutDate, class: "form-control" %></div>
  <% end %>
</div>