<div class="container">
<% c -= 1 %>
<% defalutDate = @answers[c][:value] %>
<%= DateField.find_by(question_id: answer.question_id).label_name %>
  <%= f.fields_for "answer[#{c}]", answer do |m| %>
  <p style="padding-top: 5px;"><%= m.date_field :value, value: defalutDate %></p>
  <% end %>
</div>