<div class="container">
<%= TextArea..find_by(question_id:pattern.question_id).label_name %>
  <%= f.fields_for "answer[#{c}]", mo do |m| %>
  <p style="padding-top: 5px;"><%= m.text_area :value %></p>
  <% end %>
</div>