<div class="modal fade bd-example-modal-xl" id="not-report-user<%= line_num %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl bg-transparent">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          <%= l(report_deadline.day, format: :short) %>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="border-top-0">未報告者名</th>
                  <th class="border-top-0">リマインド通知</th>
                  <th class="border-top-0">通知時間</th>
                </tr>
              </thead>
              <tbody>
                <% not_report_users.each do |user| %>
                  <tr>
                    <td class="border-top-0"><%= user.name %></td>
                    <td class="border-top-0 text-center"><button type="button" class="btn btn-outline-orange">送信</button></td>
                    <th class="border-top-0">〇〇:〇〇</th>
                  </tr>
                <% end %>
              </tbody>
              </table>
          </div>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-secondary align-bottom" data-dismiss="modal">戻る</button>
      </div>
    </div>
  </div>
</div>