<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div>
  <h1 class="text-center mt-5">報告の作成</h1>
  <div class="container col-10">
    <%= render partial: "report_form" %>
  </div>
</div>
