<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="box-project-report">
  <p class="project-name-text">プロジェクト：<%= @project.project_name %></p>
  <h1 class="center">報告作成</h1>
  <div class="container">
    <%= render partial: "report_form" %>
  </div>
</div>
