.project-edit-detail {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 1rem;
}

.project-edit-detail:last-child {
  margin-bottom: 0rem;
}

.project-edit-detail label {
  display: block;
  margin-bottom: 0.5rem;
}

.project-edit-radio {
  display: flex;
}

.project-edit-radio label {
  display: inline;
  margin-bottom: 0.5rem;
  padding-right: 1.5rem;
}

.project-edit-report-frequency {
  display: flex;
}

.project-edit-report-frequency div {
  padding: 6px;
}
