////////// プロジェクト一覧の余白を調整 //////////
.box-project-index {
  margin: 5rem 5rem 0 4rem;
}

////////// 検索に関連する要素の表示位置 //////////
.box-search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

////////// 検索のtext_fialdのラベルのデザイン //////////
.search-label {
margin-bottom: 0;
}

////////// 検索のtext_fieldのデザイン //////////
.search-box {
  border-style: none;
  box-sizing: border-box;
  height: 90%;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: #fff5ee;
  vertical-align: middle ;
}

////////// 一覧のヘッダーのデザイン //////////
.table-header {
  font-weight: 700;
  padding: 2rem 2rem 0 2rem;
  background-color: #d8d8d8;
  border-radius: 10px 10px 0 0;
  div {
    border-radius: 5px;
    background-color: #fc8022;
    color: #ffffff;
  }
}

////////// 一覧のボディーのデザイン //////////
.table-body {
  padding: 0rem 2rem 2rem 2rem;
  background-color: #d8d8d8;
  border-radius: 0 0 10px 10px;
  margin-bottom: 2rem;
  .table-line {
    background-color: #d8d8d8;
    font-weight: 500;
    div {
    background-color: #ffffff;
    border-radius: 5px;
    }
  }
}

////////// 一覧の行のデザイン //////////
.table-header, .table-line {
  display: flex;
  div {
    font-size: 1.3rem;
    padding: 1rem;
  }
}

////////// 一覧の列のデザイン //////////
.project-name, .subject-name, .project-next-report-date,
.reported-date, .report-confirmer, .report-person, .report-action,
.message-date, .message-confirmer, .message-person, .message-action,
.counseling-date, .counseling-confirmer, .counseling-person, .counseling-action {
  width: 25%;
  margin: 0rem 0.5rem 0.5rem 0rem;
}

////////// お知らせの列のデザイン //////////
.project-news {
  width: 50%;
  margin: 0rem 0.5rem 0.5rem 0rem;
  p:last-child {
    margin-bottom: 0rem;
  }
}

////////// 一覧のフッターのデザイン //////////
.index-footer {
  display: flex;
}

////////// 戻るボタンの位置 //////////
.back-btn {
  margin-left: auto;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fc8022;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #fc8022;
  background-color: #fff;
  border-bottom: none;
}
//border: thin solid;
