/* universal */

#logo {
  font-size: 200%;
}

html, body { height: 100%; }

// 横スクロールバーを非表示
.content-box {
  position: relative;
  overflow: hidden;
  height: 100%;
}

// ヘッダーの位置を固定
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.row {
  height: 100%;
}

// モーダル位置調整
.modal-dialog-center {
  padding-top: 10%;
}


/* debug */
.debug_dump {
  clear: both;
  float: right;
  width: 80%;
  margin: 20px;
  padding: 20px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  border-radius: 10px;
  border: 1px #ddd solid;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// ログインページのinpytfieldのbackground-colorを設定するために必要
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}
