// 背景色
$base-background-color: #ffe9d8;

// タイトル文字色
$base-title-font-color: #6E6E6E;

// 基本色
$base-color: #fc8022;

// 基本複色
$base-sub-color: #fff;

// 基本フォーム色
$base-form-color:#fff5ee;
//ページ内の横幅指定
.page {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  @media (min-width: 800px) {
  margin-left: 260px;
  }
}

// .pageによる左marginを非適用にする
.not_padding {
  @media (min-width: 800px) {
    margin-left: -260px;
    }
}

//文字サイズ
h1, .h1 {
  font-size: 1.7rem;
  font-weight: bold;
  color: $base-title-font-color;
  margin-bottom: 1em;
}

////////// 横スクロールバーを非表示 //////////
.content-box {
  overflow: hidden;
}

////////// ヘッダーの位置を固定 //////////
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
}

////////// 報告、連絡、相談一覧上部にあるプロジェクトのselect_boxのデザイン //////////
.index-project-select-box {
  border-style: none;
  box-sizing: border-box;
  height: 40px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: $base-form-color;
}

in

////////// デバッグウインドウのデザイン //////////
.debug_dump {
  clear: both;
  float: right;
  width: 80%;
  margin: 20px;
  padding: 20px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  border-radius: 10px;
  border: 2px #ddd solid;
}

////////// エラーメッセージのデザイン //////////

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

////////// text_fieldとtext_areaのbackground-colorを設定するために必要 //////////
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

// 基本背景色
.base-background-color {
  background: $base-background-color;
}

// 基本フォーム色
.form-color {
  background-color: $base-form-color;
}

// 基本リストスタイル削除
li {
  list-style: none;
}

// ユーザーフォームのスタイル
.user-format .form-body {
  background-color: $base-background-color;
  padding: 2rem;
  border-radius: 10px;
}
