@mixin title-item {
    border-radius: 5px;
    background-color: $base-color;
    color: $base-sub-color;
    font-size: 1.2rem;
    margin: 0.5rem auto;
}

.box-project-report {
  margin: 2.5rem auto 5rem;
  box-sizing: border-box;
  width: 50%;
  .title-label {
    display: block;
    font-weight: 700;
    font-size: 17px;
    padding-left: 2px;
    margin-bottom: 0.5%;
  }
  .card-text {
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid rgba(0, 0, 0, 0.125);
    margin: 0.75rem;
  }
}

.reprt-project-select-box,
.report-date,
.report-select {
  margin-left: 1rem;
  border-style: none;
  box-sizing: border-box;
  width: 50%;
  height: 40px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: $base-form-color;
}

.report-text,
.message-text,
.counseling-text {
  margin-left: 1rem;
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: $base-form-color;
}

.report-area,
.message-area,
.counseling-area {
  margin-left: 1rem;
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  border: 2px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  background-color: $base-form-color;
}

.report-form {
  margin: 0 2rem 1rem 2rem;
  background-color: $base-sub-color;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 1rem;
}

.report-item-title {
  display: inline-block;
  padding: 0.5em;
  color: #494949;
  background: #fffaf4;
  border-left: solid 5px #ffaf58;
}

.remanded-box {
  display: inline-block;
  padding: 0.2em;
  color: #494949;
  background: #fffaf4;
  border-left: solid 5px #ffaf58;
}
.report-form .report-required {
  background-color: red;
  padding: 5px;
  font-size: 0.8rem;
  margin-left: 10px;
  border-radius: 5px;
  color: $base-sub-color;
}

////////// 報告履歴検索結果なしの場合(履歴がありません)表示位置 //////////
.report-none {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

.view-report-log-link {
  .report-title {
    text-decoration: none;
  }
}

.view-report-log-link:hover {
  cursor: pointer;
  cursor: hand;
  .report-title{
    text-decoration: underline;
  }
}

//全プロジェクト報告集計画面
.last_rate_day_title {
  @include title-item;
  width: 50%;
}

.table-background {
  background-color: $base-background-color;
  padding: 1rem; border-radius: 10px;
}

.table-layout {
  width: 100%;
  border-collapse:separate;
  border-spacing: 5px;
}

.report-rate-table-header {
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  .item {
    @include title-item;
  }
}

.table-body-layout {
  background-color: white;
  .body {
      border-radius: 10px;
      text-align: center;
      vertical-align: middle;
    }
}

//報告集計画面
.table-totalling-background {
  background-color: $base-background-color;
  padding: 1rem; border-radius: 10px;
}

.table-report-totalling {
  width: 100%;
  border-collapse:separate;
  border-spacing: 5px;
}

.table-report-totalling-header {
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  .item {
    vertical-align: middle;
    @include title-item;
  }
}

.table-report-totalling-body {
  background-color: white;
  .body {
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
  }
}

.table-report-totalling-footer {
  text-align: center;
  vertical-align: middle;
  .item {
    font-weight: 700;
    vertical-align: middle;
    @include title-item;
  }
  .footer {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
  }
}

//返信機能
.reply-image-containar {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-right: 5%;
}
.reply-image-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #111;
  padding: 5px;
  display: none;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  a {
    margin: 0; 
    padding: 0;
    color: #ffffff;  
  }
}
.reply-image-containar:hover .reply-image-menu {
  display: block;
}
.thumbnail {
  width: 100%;
  height: 30%;
  cursor: zoom-in;
}
.reply-image-modal {
  width: 80%;
}
.reply-image-input{
  display: block;
  background-color: #228B22;
  width: 180px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.reply-image-form {
  display: none;
}
.reply-image-label {
  margin-left: 15px;
}
.reply-text {
  padding: 0.5em 1em;
  background: #FFF;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  p {
    margin: 0; 
    padding: 0;
    font-weight: bold;
    font-size: 0.8em;
    white-space: pre-wrap;
  }
}
.textlines {
  padding: 0.5em 1em;
  background-color: #FFF;
  border: 2px solid #0a0;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.8em;
}
.textlines:focus {
  border-color: skyblue;
  background-color: #ffc;
  outline: none;
}