.menu-content {
  height: 100%;
  float: left;
  font-size: 19px;
  width: 15%;
  // min-width: 220px;
  position: fixed;
  left: 0;
  padding-top: 2rem;
  // padding: 2rem 1rem 0rem 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: 600px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.menu.active {
  // border-radius: 20px;
  a {
    color: $base-sub-color;
    background: $base-color;
  }
}

.menu {
  text-align: left;
  text-indent: 1.5em;
  a {
    // background: #ffffee;
    color: $base-title-font-color;
    // border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    display: block;
    padding: 5px 0px;
  }
}

.menu:hover {
  a {
  color: $base-sub-color;
  }
  background: $base-color;
}

// border: thin solid;
