.menu-content {
  height: 100%;
  float: left;
  font-size: 20px;
  width: 15%;
  position: fixed;
  left: 0;
  padding-top: 2rem;
  // padding: 2rem 1rem 0rem 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: 600px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.menu.active {
  // border-radius: 20px;
  a {
    color: #ffffff;
    background: #fc8022;
  }
}

.menu {
  text-align: center;
  // margin-bottom: 3%;
  // border-radius: 20px;
  a {
    color: #fc8022;
    // border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    display: block;
  }
}

.menu:hover {
  a {
  color: #ffffff;
  }
  background: #fc9749;
}

// border: thin solid;
