#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none !important;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 50%;/*最大幅（お好みで調整を）*/
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
 display: flex;
 display: -moz-flex;
 display: -o-flex;
 display: -webkit-flex;
 display: -ms-flex;
 flex-direction: row;
 -moz-flex-direction: row;
 -o-flex-direction: row;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
}

/*ロゴやサイトタイトルをセンタリング*/
.menu-content {
  font-size: 19px;
  height: 100vh;
  -webkit-flex-basis: 220px;
  flex-basis: 220px;
  position: sticky;
  margin-top: -58px;
  padding-top: 58px;
  top: 0px;
  left: 0;
  bottom: -20px;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: 670px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.menu.active {
  // border-radius: 20px;
  a {
    color: $base-sub-color;
    background: $base-color;
  }
}

.menu {
  text-align: left;
  text-indent: 1.5em;
  a {
    // background: #ffffee;
    color: $base-title-font-color;
    // border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    display: block;
    padding: 5px 0px;
  }
}

.menu:hover {
  a {
  color: $base-sub-color;
  }
  background: $base-color;
}

// border: thin solid;
