/* ユーザー情報テーブル */

.user-table {
  margin: 0% auto;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

//border: thin solid;

// 表示しているページ番号のデザイン
.project-user {
  font-weight: bolder;
  color: #ffffff;
  border: 2px solid #fc8022;
  background-color: #fc8022;
  border-radius: 15px;
}

.user {
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
}