<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Ho_Ren_So App", root_path, id: "logo" %>
    <%# if user_signed_in? %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%#= link_to "プロジェクト", users_user_projects_path(current_user.id) %></li>
          <li><%= link_to "プロジェクト", users_user_projects_path(1) %></li>
        </ul>
      </nav>
    <%# else %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Top", root_path %></li>
          <li><%= link_to "Log in", user_session_path %></li>
        </ul>
      </nav>
    <%# end %>
  </div>
</header>
